%h3.close_header What is this?
%p
  Secret Goals is a place where you can share
  the ups and downs of achieving your goals,
  give and receive support, read tips and tricks,
  etc. all while being completely anonymous.
%p
  There's something very powerful about reading
  the honest highs and lows people go through
  as they try to achieve their goals just like you.
%p
  = link_to ("Read more >", about_index_path)
