.goals_show {
  .dashboard {
    overflow: hidden;
    margin: 30px 0;
    .dashboard_widget {
      @include column(8);
      background_color: #eee;
      .widget_title {
        background-color: $grey;
        padding: 3px 12px;
        color: white;
      }
      .widget_content {
        padding: 12px;
        border: 1px solid $grey;
      }
    }
    .last_widget {
      @include column(8, true);
    }
    form {
      textarea {
        width: 95%;
        height: 6em;
      }
      label {
        font-weight: normal;
      }
    }
  }
}
