.me_goals_show {
  .dashboard {
    overflow: hidden;
    margin: 30px 0;
    .dashboard_widget {
      @include column(8);
      background_color: #eee;
      .widget_title {
        background-color: $grey;
        padding: 3px 10px;
        color: white;
      }
      .widget_content {
        padding: 10px;
        border: 1px solid $grey;
      }
    }
    .last_widget {
      @include column(8, true);
    }
    form {
      textarea {
        width: 95%;
        height: 6em;
        margin-bottom: 0;
      }
      label {
        font-weight: normal;
      }
      .update_type {
        font-size: smaller;
        margin-bottom: 10px;
        label {
          margin-right: 10px;
          vertical-align: middle;
        }
      }

    }


    #progress_chart {
      width: 100%;
      border: 1px solid $blue;
      height: 110px;
      margin-bottom: 10px;
      position: relative;
      .progress_point {
        font-size: 40pt;
        position: absolute;
        cursor: pointer;
        z-index: 2;
      }
    }

    .progress_post {
      height: 67px;
      overflow: auto;
    }

    .progress_links a {
      font-size: smaller;
      margin-right: 20px;
    }
  }
}

.goal_title {
  span {
    font-style: italic;
  }
}

.goals_show {
  .add {
    /*display: none;*/
    border: 1px solid $blue;
    padding: 10px;
    margin-bottom: 10px;
  }
}

.update_stream {
  h3 {
    margin-bottom: 10px;
  }
  .update {
    margin-bottom: 10px;
    .good {
      border-left-color: $green;
    }
    .bad {
      border-left-color: $red;
    }
    .status {
      border-left-style: solid;
      background-color: $darkgrey;
      padding: 3px 10px;
      color: white;
      .timestamp {
        float: right;
        font-size: smaller;
      }
    }
    .update_content {
      padding: 10px;
      border: 1px solid $darkgrey;
    }
    .goal_details {
      margin-top: 10px;
      font-size: smaller;
      color: $grey;
      a {
        color: $grey;
        text-decoration: none;
      }
    }
  }
}


.aggregate_updates {
  li {
    margin-bottom: 10px;
    h4 {
      margin: 0;
    }
  }
}
