h2.goal_title {
  margin-bottom: 20px;
}

.me_goals_show {
  #explore_updates {
    overflow: hidden;
    background-color: white;
    padding: 10px;
    p {
     margin-bottom: 0.5em;
    }
    .nice_job {
      display: none;
    }
  }
  #facebox #explore_updates .nice_job {
    display: block;
    margin-bottom: 20px;
  }

  #facebox {
    .widget_title, .lightboxed_goal_title {
      font-weight: bold;
      font-size: larger;
    }
    .lightboxed_goal_title {
      margin-bottom: 10px;
    }
  }

  .dashboard {
    @include column(24);
    margin: 30px 0;
    .dashboard_widget {
      @include column(8);
      .widget_title {
        background-color: $grey;
        padding: 3px 10px;
        color: white;
      }
      .lightboxed_goal_title {
        display: none;
      }
      .widget_content {
        padding: 10px;
        border: 1px solid $grey;
        height: 220px;
      }
    }
    .last_widget {
      @include column(8, true);
    }
    #update_status {
      display: inline-block;
      margin-left: 10px;
      font-size: 14pt;
    }
    form {
      textarea {
        width: 95%;
        height: 6em;
        margin-bottom: 0;
      }
      label {
        font-weight: normal;
      }
      .update_type {
        font-size: smaller;
        margin-bottom: 10px;
        label {
          margin-right: 10px;
          vertical-align: middle;
        }
      }

    }


    #progress_chart {
      width: 100%;
      border: 1px solid #ccc;
      height: 110px;
      margin-bottom: 10px;
      position: relative;
      .progress_point {
        height: 20px;
        width: 20px;
        position: absolute;
        cursor: pointer;
        z-index: 2;
      }
    }

    #selected_update {
      .comment {
        height: 78px;
        overflow: auto;
      }
    }

    .progress_links a {
      font-size: smaller;
      margin-right: 20px;
    }
  }
}

.goals_show, .goals_go {
  .add {
    display: none;
    border: 1px solid $blue;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  #add {
    margin: 0 auto 20px auto;
  }

  #close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 3em;
  }
}

table.update_stream {
  h3 {
    margin-bottom: 10px;
  }
  margin-bottom: 0;
  border-top: 1px solid $grey;
  border-right: 1px solid $grey;
  .update {
    background-color: $update_grey;
    margin-bottom: 10px;

    .goal_label {
      color: $grey;
    }

    .status {
      vertical-align: top;
      background: white url("/images/update_corner.gif") right top no-repeat;
      border-bottom: 1px solid $grey;
      border-left: 1px solid $grey;
      padding: 0;
      width: 100px;
      text-align: center;
      .status_color {
        @include border-radius(15px, 15px);
        width: 30px;
        height: 30px;
        line-height: 30px;
        color: white;
        margin: 5px auto;
      }
      .good_status {
        background-color: $gold;
      }
      .ok_status {
        background-color: $darkgrey;
      }
      .bad_status {
        background-color: black;
      }
    }

    .update_content {
      border-bottom: 1px solid $grey;
      padding: 10px;
    }
    .tags {
      float: right;
      font-size: smaller;
    }
    .timestamp {
      float: right;
      font-size: smaller;
      margin-top: 5px;
    }
    .reply_action {
      line-height: 22px;
      font-size: smaller;
      img {
        vertical-align: -5px;
      }
      padding-right: 20px;
    }

  }

  td.replies, .reply_type {
    border-bottom: 1px solid $grey;
    .reply_type:last-child {
      border-bottom: none;
    }
  }

  tr:last-child .replies {
    border-bottom: none;
    .reply_type:last-child {
      border-bottom: 1px solid $grey;
    }
  }

  .replies {
    padding: 0;
    .reply_type, .more {
      border-left: 1px solid $grey;
      padding: 5px 10px 5px 40px;
      margin-left: 40px;
      background: {
        color: #e5e3e3;
        position: 10px 2px;
        repeat: no-repeat;
      }
    }

    .congratulation {
      background-image: url("/images/congratulation.png");
    }
    .reply {
      background-image: url("/images/reply.png");
    }
    .support {
      background-image: url("/images/support.png");
    }
  }
}

.paging {
  padding: 5px 0 20px;
}
