@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/fancy-type";

// Import the non-default scaffolding module to help us get started.
@import "blueprint/scaffolding";
// Remove the scaffolding when you're ready to start doing visual design.
// Or leave it in if you're happy with how blueprint looks out-of-the-box
@include blueprint-scaffolding("body.bp");

$lightblue: #081736;
$blue: #081736;
$grey: #A19C99;
$darkgrey: #555C6F;
$red: #C24227;
$green: #2B9044;

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  font-size: 90%;
  background-color: $grey;
  a, a:visited, a:hover {
    text-decoration: none;
    color: $blue;
  }
}

form {
  @include blueprint-form;
}

.container {
  @include container;
}

#header {
  background-color: $grey;
  padding-top: 2.5em;
  h1 {
    margin-bottom: 3px;
    color: $blue;
  }
  .research {
    color: $blue;
    float: right;
    margin-top: 2em;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

#nav_bar {
  background-color: $blue;
  line-height: 40px;
  .new_goal {
    vertical-align: middle;
    @include column(19);
    h3 {
      line-height: 40px;
      color: white;
      display: inline;
      padding: 0;
    }
    input {
      font-style: italic;
      font-size: 14pt;
      @include column(6);
      float: none;
      color: $darkgrey;
      padding: 0;
    }
    .go_goal {
      line-height: 40px;
      background-color: $darkgrey;
      float: none;
      color: white;
      padding: 2px 12px;
      text-decoration: none;
    }
  }
  .navigation {
    @include column(5, true);
    text-align: right;
    float: right;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

#content {
  background-color: white;
  min-height: 400px;
  padding: 10px 0 60px 0;
}


.main {
  @include column(16);
}

.sidebar {
  @include column(8, true);
}

.notice, .alert {
  padding: 30px;
  background-color: #fffa9c;
  border: 1px solid #ccc;
  text-align: center;
  margin: 30px;
}

#footer {
  font-size: 10pt;
  background-color: $grey;
  border-top: 1px solid #333;
  padding-top: 6px;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: black;
    }
  }
  .right {
    display: block;
    float: right;
  }

  #irrational_design {
    padding-bottom: 60px;
    overflow: hidden;
    .irrational_design a {
      color: #D14334;
    }
    .site {
      float: left;
      font-size: 9pt;
      text-align: center;
      margin: 12px 12px 0 0;
    }
  }
}

.cloud {
  .size_1 { font-size: 6pt; }
  .size_2 { font-size: 10pt; }
  .size_3 { font-size: 14pt; }
  margin-bottom: 30px;
}

.skyscraper {
  text-align: center;
}


@import "rangeinput";
@import "home";
@import "register";
@import "goals";

