@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/fancy-type";

// Import the non-default scaffolding module to help us get started.
@import "blueprint/scaffolding";
// Remove the scaffolding when you're ready to start doing visual design.
// Or leave it in if you're happy with how blueprint looks out-of-the-box
@include blueprint-scaffolding("body.bp");

$blue: #081736;
$grey: #555C6F;

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  font-size: 90%;
}

form {
  @include blueprint-form;
}

.content {
  @include container;
}

#header {
  background-color: #A19C99;
  padding-top: 2.5em;
  h1 {
    margin-bottom: 3px;
    color: $blue;
  }
  .research {
    color: $blue;
    float: right;
    margin-top: 2em;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

#nav_bar {
  background-color: $blue;
  line-height: 40px;
  margin-bottom: 10px;
  .new_goal {
    vertical-align: middle;
    @include column(21);
    h3 {
      line-height: 40px;
      color: white;
      display: inline;
      padding: 0;
    }
    input {
      font-size: 14pt;
      @include column(6);
      float: none;
      color: $grey;
      padding: 0;
    }
    .go_goal {
      line-height: 40px;
      background-color: $grey;
      float: none;
      color: white;
      padding: 2px 12px;
      text-decoration: none;
    }
  }
  .navigation {
    @include column(3, true);
    text-align: right;
    float: right;
    a {
      color: white;
      text-decoration: none;
    }
  }
}



.main {
  @include column(16);
}

.sidebar {
  @include column(8, true);
}

.notice, .alert {
  padding: 30px;
  background-color: #fffa9c;
  border: 1px solid #ccc;
  text-align: center;
  margin: 30px;
}

@import "register";

