.dashboard_widget
  .widget_title Progress Tracking
  .widget_content
    .progress_chart
    %h6
      Dec. 12, 2010
      %span{:style =>"font-weight: normal;"} (Rated 8)
    .progress_post
      I really rocked last night. Not quite a rockstar yet, but definitely feel like I'm getting closer to being a true rockstar!
    .progress_links
      = link_to("Read more", "")
      = link_to("6 comments", "")

