.dashboard_widget
  .widget_title Progress Tracking
  .widget_content
    #progress_chart.canvas
    #selected_update
      %h6
        %span.created_at No Status Updates Yet
        %span.status{:style =>"font-weight: normal;"}
      .comment
        This area will show your status over time.
:javascript
  $(function() {
    var updates = $('.update_stream .update').map(function(update) {
      var self = $(this);
      return {id: self.attr("id"), status: self.attr("data-status")};
    });

    var chart = $("#progress_chart");
    var chartWidth = chart.width();
    var chartHeight = chart.height();

    var step = chartWidth / updates.length;
    var start = chartWidth - (chartWidth - step * (updates.length -1)) / 2;
    var lastX, lastY;

    $.each(updates, function(index) {
      var y = chartHeight - (chartHeight / 22) - (this.status * (chartHeight/11));
      var x = start - (index * step);
      chart.drawEllipse(x-3, y-3, 6, 6);

      chart.append($("<div>").addClass('progress_point').css("left", x-10).css("top", y-10).attr("updateId", this.id));

      if (lastX && lastY) {
        chart.drawLine(lastX, lastY, x, y);
      }
      lastX = x;
      lastY = y;
    });

    if (updates.length > 0) {
      displayUpdate(updates[0].id)
    } else {
      $("#selected_update").show();
    }


    function displayUpdate(updateId) {
      update = $("#" + updateId);
      $("#selected_update")
        .find(".created_at")
        .html(formatDate(update.attr("data-created_at")))
        .end()
        .find(".status")
        .html("(Rated " + update.attr("data-status") + ")")
        .end()
        .find(".comment")
        .html(update.find(".comment").html())
        .end().show();
    }

    $(".progress_point").click(function(){
      displayUpdate($(this).attr("updateId"));
    });

    function formatDate(dateString) {
      var date = new Date(dateString);
      var day = date.toDateString();
      var hour = date.getHours();
      var minutes = date.getMinutes();
      if (minutes < 10) minutes = "0" + minutes;
      var amPm = hour >= 12 ? "pm" : "am";
      hour = hour % 12;
      return day + " " + hour + ":" + minutes + " " + amPm;
    }
  });

